<h1>
<%=@post.title%>
</h1>
<div>
<%=@post.body%>
</div>
<%=link_to "EDIT POST", edit_post_path(@post)%>
<%=link_to 'DELETE', @post, method: :delete, data: { confirm: 'Are you sure you want to delete this post?' }%>